/* Colors */

$brand-color1: indigo;
$brand-color2: orangered;
$brand-color3: #cecece;

/* Media Queries */

$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

/* Borders */

$border1: 1px solid $brand-color3;